.footer{
  border-top: 2px solid lightgray;
  width: 100%;
  padding: 80px;
  padding-bottom: 0;
  background-color: #f0620a;
  color: white;
  position: absolute;
}
.footer-top{
  display: flex;
  justify-content: space-between;
}
a{
  color: beige;
  text-decoration: none;
}