.footer {
  border-top: 2px solid #d1d1d1;
  width: 100%;
  padding: 80px;
  padding-bottom: 0;
  background-color: #e75b0a;
  color: #ffffff;
  position: absolute;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-category span {
  color: #e1e1e1;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #ff914d;
  text-decoration: underline;
}

@media (max-width: 400px) {
  .footer {
    padding: 30px;
  }

  .footer-top {
    flex-wrap: wrap;
    gap: 20px;
  }

  .footer-category + a {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
  }
}
