.footer{
  border-top: 2px solid lightgray;
  width: 100%;
  padding: 80px;
  padding-bottom: 0;
  background-color: #f0620a;
  color: white;
  position: absolute;
}
.footer-top{
  display: flex;
  justify-content: space-between;
}
.footer-category span{
  color: #ffffffd6;
}
a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 400px){
  .footer{
    padding: 30px;
  }
  .footer-top {
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer-category+a{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
  }
}