*{
  --ft-pad: 16px;
  --ft-txt: oklch(0.446 0.03 256.802);
}
.footer-container{
  padding: 20px 10px;
  background-color: #f8f7f4;
}
.ft-collections>div{
  margin-bottom: var(--ft-pad);
  box-shadow: 1px 1px 10px gray,-1px -1px 10px gray;
  padding: var(--ft-pad);
}
.compartment, .footer-container section{
  margin-bottom: var(--ft-pad);
  box-shadow: 1px 1px 10px gray,-1px -1px 10px gray;
  padding: var(--ft-pad);
  width: 90%;
  justify-self: center;
  border-radius: 5px;
}
.ft-collections{
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.footer-container p, .bl-txt{
  color: var(--ft-txt);
}
.up-dt{
  margin: auto;
}