.home-section {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}
.home-page {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px gray;
}
.home-offer {
  font-weight: bold;
}
.menu-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  justify-content: center;
  gap: 10px;
}
.menu-item {
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 2px 2px 5px lightgray, -2px -2px 5px lightgray;
  border-radius: 10px;
}
.discounted {
  margin-right: 5px;
}
.item-name {
  max-width: 12em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: -20px;
}

.menu-photo {
  aspect-ratio: 9 / 13;
  margin-bottom: 5px;
  box-shadow: -2px -2px 3px gray, 2px 2px 3px gray;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.offer-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.menu-photo:hover {
  box-shadow: 1px 1px 3px gray;
  transform: scale(0.99);
}
.actual-price,
.item-name {
  font-weight: bold;
}
.slogan {
  font-size: 18px;
  font-weight: bold;
}
