.welcome-page{
  height: 100vh;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.welcome-button{
  padding: 10px 50px;
  font-weight: bold;
  background-color: rgb(26, 187, 12);
  border: none;
}